.about .container {
  display: flex;
}

.about-left-side {
  margin-right: 32px;
}

.about-right-side {
  padding-left: 32px;
}

.about .title {
  margin-bottom: 20px;
}

.about .description {
  margin-bottom: 20px;
}

.about-text {
  margin-bottom: 40px;
  padding-right: 60px;
}

.about-list {
  display: flex;
}

.about-list-item:not(:last-child) {
  margin-right: 30px;
}

.about-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.857;
  letter-spacing: 0.02em;
}
