.hero-left-side {
  display: flex;
  align-items: flex-end;
  padding-left: 27px;
  padding-bottom: 40px;
  width: 100px;
}

.hero-right-side {
  background-color: #333333;
  padding-left: 100px;
  padding-bottom: 206px;
  padding-top: 272px;
  flex-grow: 1;
  background-image: linear-gradient(
      rgba(25, 28, 38, 0.2),
      rgba(25, 28, 38, 0.2)
    ),
    url("../images/hero/bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.hero-title {
  font-family: var(--title-font);
  font-weight: 700;
  font-size: 72px;
  line-height: 1.181;
  letter-spacing: 0.05em;
  margin-bottom: 20px;
  color: #ffffff;
}
