.modal-btn {
  min-width: 160px;
  border: 1px solid var(--accent-color);
  border-radius: 25px;
  padding: 12px 16px;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.333;
  letter-spacing: 0.09em;
  text-transform: uppercase;
  background-color: transparent;
  cursor: pointer;
  transition: background-color 250ms linear, color 250ms linear;

  &:hover,
  &:focus {
    background-color: var(--accent-color);
    color: #ffffff;
  }

  .services & {
    display: block;
    margin: 0 auto;
  }
}

.modal-btn-dark-theme {
  color: #ffffff;
}

@media screen and (max-width: 767px) {
  .modal-btn {
    .header & {
      display: none;
    }
  }
}
