.social-links-list {
  display: flex;
  align-items: center;
}

.social-links-list::before {
  display: block;
  flex-shrink: 0;
  width: 60px;
  height: 1px;
  background-color: #303030;
  content: "";
  margin-right: 40px;
}

.social-links-item:not(:last-child) {
  margin-right: 40px;
}

.social-links-link {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.364;
  letter-spacing: 0.2em;
  color: #303030;
  transition: color 250ms linear;
}

.social-links-link:hover,
.social-links-link:focus {
  color: var(--accent-color);
}
